<h1>Listing physicians</h1>

<table>
  <tr>
    <th>Physician</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @physicians.each do |physician| %>
  <tr>
    <td><%= physician.name %></td>

    <td><%= link_to 'Show', physician %></td>
    <td><%= link_to 'Edit', edit_physician_path(phyisician) %></td>
    <td><%= link_to 'Destroy', physician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appointment', new_appointment_path %>
