<h1>Listing appointments</h1>
<h2>Enter a physician :</h2>
<%= link_to "Physicians", :physicians %>
<h2>Enter a patient:</h2>
<%= link_to "Patients", :patients %>


<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Physician</th>
    <th>Patient</th>
    <th></th>
  </tr>

<% @appointments.each do |appointment| %>
  <tr>
    <td><%= appointment.date %></td>
    <td><%= appointment.time %></td>

        <td><%= link_to 'Show', appointment %></td>
    <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
    <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appointment', new_appointment_path %>
